@include oColorsSetUseCase(n-counter-ad-blocking-component, text, 'white');
@include oColorsSetUseCase(n-counter-ad-blocking-link, border, 'white');

@include nUiGridOffset(L, 1);

.counter-adblock.counter-adblock__background {
	@include oColorsFor(o-banner, background)
}

.o-overlay-shadow {
	background-color: rgba(0,0,0,.2);
	height: 150%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.counter-adblock {
	-webkit-font-smoothing: antialiased;
	.o-grid-row {
		margin-bottom: 32px;
	}
}

.counter-adblock__title {
	@include oTypographySans($scale: 6, $line-height: 46px);
}

.counter-adblock__text {
	@include oTypographySans($scale: 2, $line-height: 26px);

	&--bold {
		font-weight: 600;
	}
}

.counter-adblock__button {
	@include oButtons($size: big, $theme: inverse);
}

.counter-adblock__list-item {
	@include oTypographySans($scale: 0);
	margin-bottom: 8px;
	@include oColorsFor(n-counter-ad-blocking-link, border);
	display: inline-block;
	border-right: 1px solid;
	margin-right: 6px;
}

.counter-adblock__list {
	list-style: none;
	padding-left: 0;
}

.counter-adblock__list-item:last-of-type {
	border-right: 0;
	margin-right: 0;
}

.counter-adblock__link {
	// @include oBannerLink
	@include oColorsFor(n-counter-ad-blocking-component, text);
	@include oColorsFor(n-counter-ad-blocking-link, border);
	margin-right: 8px;
	border-bottom: 1px solid;
	text-decoration: none;
	&:hover,
	&:focus {
		@include oColorsFor(n-counter-ad-blocking-component, text);
		border-bottom: 0;
	}
}

.counter-adblock__image--width {
	max-width: 100%;
}

.counter-adblock__block--left,
.counter-adblock__block--right {
	@include oGridRespondTo($from:'L', $until:'XL') {
		padding-right: 40px;
	}
	@include oGridRespondTo(XL) {
		padding-right: 80px;
	}

}

.counter-adblock__block--left {
	@include oGridRespondTo($from:'L', $until:'XL') {
		padding-left: 40px;
	}
	@include oGridRespondTo(XL) {
		padding-left: 80px;
	}
}

.counter-adblock__block--right {
	display: none;
	margin-top: 32px;
	@include oGridRespondTo(L) {
		display: block;
	}
}
