.o-banner_success-icon-tick {
	@include oIconsContent(
		$icon-name: 'tick',
		$color: oColorsByName('jade'),
		$size: 27
	);
	position: relative;
	float: left;
}

.o-banner_button-browse {
	@include oButtonsContent($opts: ('type': 'secondary'));
	color: oColorsByName('jade');
	border-color: oColorsByName('jade');
}

.o-banner_success-background {
	background: oColorsMix(jade, paper, 30);
	color: oColorsByName('jade');
}

.o-banner_signup-content {
	position: relative;
	max-width: inherit;
	display: contents;
}

.o-banner_success-content {
	position: relative;
	max-width: inherit;
	display: contents;
	font-size: 18px;;
}

.--is-visible {
	display: none;
}
.o-banner_button-signup {
	@include oButtonsContent($opts: ('type': 'primary'));
}
