.o-banner_banner_success-icon-tick {
	@include oIconsContent(
		$icon-name: 'tick',
		$color: oColorsByName('jade'),
		$size: 30
	);
	position: relative;
	float: left;
}

.o-banner_button_Browse {
    @include oButtonsContent($opts: (
		'type': 'secondary'
	));
	color: oColorsByName('jade');
	border-color: oColorsByName('jade');
}

.o-banner_success-background {
	background: oColorsMix(jade, paper, 30);
	color: oColorsByName('jade');
}

.signup-content {
	position: relative;
    max-width: inherit;
    display: contents;
}

.success-content {
	position: relative;
    max-width: inherit;
	display: contents;
	font-size: 18px;;
}

.--is-visible {
	display: none;
}
