/* stylelint-disable selector-class-pattern */
.n-messaging-slot--cookieConsent,
.n-messaging-slot--cookieConsentA,
.n-messaging-slot--cookieConsentB {
	position: sticky;
	bottom: 0;
	z-index: 100;
}
.n-messaging-slot--cookieConsentB {
	bottom: $spacing-unit;
}
/* stylelint-enable */

.cookie-consent-banner__wrapper {
	.n-messaging-banner__close {
		display: none;
	}

	/* overrides grey underline */
	a {
		border-bottom: 1px solid oColorsGetPaletteColor('teal-80');
	}

	/* overrides always fixed */
	.n-messaging-banner {
		position: static;
		@at-root .enhanced &.n-messaging-banner--fixed {
			position: fixed;
			transform: translateY(0);
		}
	}

	.n-messaging-banner__header {
		@include alertBannerInner;
		height: auto;
		max-width: map-get($o-grid-layouts, 'XL');
		margin: 0 auto;
	}

	.n-messaging-banner__head {
		@include alertBannerContent;
		@include oTypographySize($scale: 2);
		margin-bottom: 0;
	}

	/* overrides padding and typography */
	.n-messaging-banner__inner {
		padding-top: oTypographySpacingSize($units: 1);
		@include oTypographySize($scale: 0);
		@include oGridRespondTo($until: L) {
			padding-bottom: oTypographySpacingSize($units: 6);
		}
	}
	/* overrides content going to 100% width */
	.n-messaging-banner__content {
		@include oGridRespondTo($from: M) {
			max-width: oTypographyMaxLineWidth($scale: 2);
		}
	}

	/* overrides flex at small */
	.n-messaging-banner__inner,
	.n-messaging-banner__content,
	.n-messaging-banner__actions {
		@include oGridRespondTo($from: S, $until: M) {
			display: block;
		}
	}
	/* overrides padding when we have flex */
	.n-messaging-banner__content {
		@include oGridRespondTo($from: S, $until: L) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	/* overrides 40px padding at medium down */
	.n-messaging-banner__head,
	.n-messaging-banner__inner {
		@include oGridRespondTo($until: L) {
			padding-left: oTypographySpacingSize($units: 6);
			padding-right: oTypographySpacingSize($units: 6);
		}
	}

	.n-messaging-banner__button {
		@include oButtonsTheme(primary);
		@include oGridRespondTo($until: M) {
			width: 100%;
		}
	}

	.n-messaging-banner__link--standalone {
		@include oGridRespondTo($until: M) {
			margin: $spacing-unit 0;
		}
		@include oGridRespondTo($from: M) {
			margin-left: $spacing-unit;
			margin-right: $spacing-unit*4;
		}
	}

	.n-messaging-banner__link--outside-page {
		position: relative;
		@include oTypographyLinkExternal;
	}

	/* design variant B overrides */
	&.variant-cookieConsentB { /* stylelint-disable-line */
		.n-messaging-banner__actions {
			display: flex;
			justify-content: flex-end;
			margin-top: $spacing-unit;
		}
		.n-messaging-banner__link--standalone {
			margin-right: $spacing-unit*2;
		}
		.n-messaging-banner__button {
			width: auto;
		}
		@include oGridRespondTo($from: M) {
			.n-messaging-banner {
				max-width: $spacing-unit*24;
				margin: $spacing-unit;
			}

			.n-messaging-banner__inner {
				display: block;
			}
		}
		/* make sure this box aligns with the left edge of the nav bar */
		@include oGridRespondTo($from: XL) {
			.n-messaging-banner {
				margin-left: calc(((100vw - #{map-get($o-grid-layouts, 'XL')})/2) + #{$spacing-unit/2});
			}
		}
	}
}
