$o-tooltip-is-silent : false;

@import "o-buttons/main";
@import "o-colors/main";
@import "o-grid/main";
@import "o-icons/main";
@import "o-typography/main";

@import 'n-alert-banner/main';
@import 'o-message/main';
@import 'o-banner/main';
@import "o-tooltip/main";
@import './src/components/nav-messaging-tooltip';


@include oFontsInclude(MetricWeb);
@include oFontsInclude(MetricWeb, $weight: semibold);
@include oBanner($class: 'n-messaging-banner', $themes: 'all');
@include oMessage($class: 'n-alert-banner', $types: 'alert', $status: 'all');

// ensure the bottom o-banner displays above other elements on page (e.g. imgs on article page)
.n-messaging-banner {
	@include nUiZIndexFor('notification');
}

// set base font
.n-alert-banner,
.n-messaging-banner {
	font-family: sans-serif;
	font-size: 0.8125em;
}

@import './src/components/cookie-consent/main';
