@import "o-buttons/main";
@import "o-colors/main";
@import "o-grid/main";
@import "o-icons/main";
@import "o-typography/main";

@import 'n-alert-banner/main';
@import 'o-banner/main';

@include oFontsInclude(MetricWeb);
@include oFontsInclude(MetricWeb, $weight: semibold);

@include nAlertBanner($class: 'n-alert-banner', $themes: 'neutral');

// ensure the top n-alert-banner inner content is aligned to page content
.n-alert-banner__inner {
	@include oGridContainer();
}

// set base font
.n-alert-banner,
.n-messaging-banner {
	font-family: sans-serif;
	font-size: 0.8125em;
}
