@import 'o-banner/main';
@import 'n-alert-banner/main';

@include oBanner($class: 'n-messaging-banner', $themes: 'all');
@include nAlertBanner($class: 'n-alert-banner', $themes: 'all');

//ensure banner displays above other elements on page (e.g. imgs on article page)
.n-messaging-banner {
	z-index: 100;
}

@import './src/components/invite-colleagues/main';
@import './src/components/desktop-app-banner/main';
@import './src/components/anon-subscribe-now-teal/main';
@import './src/components/marketing/popup-prompt/main';
