[data-n-messaging-name="cookieConsentA"],
[data-n-messaging-name="cookieConsentB"],
[data-n-messaging-name="cookieConsentC"] {
	position: fixed;
	bottom: 0;
	z-index: 110;
	@include oGridRespondTo($from: M) {
		max-width: $spacing-unit*24+$spacing-unit*2;
		bottom: $spacing-unit;
	}
}

.cookie-banner {
	/* overrides always fixed */
	.o-banner {
		@include oTypographySans($scale: 0);
		position: static;
		@at-root .enhanced &.o-banner--fixed {
			position: fixed;
			transform: translateY(0);
		}
		@include oGridRespondTo($from: M) {
			max-width: $spacing-unit*24;
			margin: $spacing-unit;
		}
		@include oGridRespondTo($from: XL) {
			margin-left: calc(((100vw - #{map-get($o-grid-layouts, 'XL')}) / 2) + #{$spacing-unit/2});
		}
	}

	.o-banner__outer {
		padding: oSpacingByName('s3') oSpacingByName('s6') oSpacingByName('s6');
		@include oGridRespondTo($from: M) {
			padding: oSpacingByName('s6') oSpacingByName('m12') oSpacingByName('m12');
		}
	}

	.cookie-banner__head {
		@include oTypographySans($scale: 2, $include-font-family: false);
		margin-top: 0;
		margin-bottom: oSpacingByName('s1');
	}

	.cookie-banner__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: oSpacingByName('s6');
	}

	.o-banner__button {
		@include oButtonsContent($opts: (
			'type': 'primary'
		), $include-base-styles: false);
		@include oGridRespondTo($from: 375px) {
			@include oTypographySans($scale: 1, $include-font-family: false);
		}
	}

	.cookie-banner__link--external {
		@include oTypographyLink($external: true);
	}

	.cookie-banner__link,
	.cookie-banner__link--external {
		border-bottom-color: oColorsByName('teal-80');
	}

	&.variant-cookieConsentC { /* stylelint-disable-line */
		.o-banner__outer {
			padding-top: oSpacingByName('s6');
		}

		.cookie-banner__head {
			@include oTypographySans($scale: 3);
			padding-bottom: oSpacingByName('s3');
			margin-bottom: oSpacingByName('s4');
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: oSpacingByName('s1');
				width: 60px;
				bottom: 0;
				left: 0;
				background-color: oColorsMix('jade', 'black', 89);
			}
		}

		.cookie-banner__link--external {
			@include oTypographyLink($external: true);
		}

		.cookie-banner__link,
		.cookie-banner__link--external {
			color: oColorsByName('black-80');
			border-bottom-color: oColorsByName('black-50');
		}

		.cookie-banner__link--external::after {
			@include oIconsContent(
				$icon-name: 'outside-page',
				$color: oColorsByName('black-80'),
				$size: 24
			);
		}

		.cookie-banner__actions {
			@include oGridRespondTo($until: S) {
				margin-top: oSpacingByName('s2');
				display: block;
			}
		}

		.o-banner__button {
			background-color: oColorsMix('jade', 'black', 89);
			margin-top: oSpacingByName('s4');
			width: 100%;
			@include oGridRespondTo($until: S) {
				@include oTypographySans($scale: -1);
				min-height: auto;
				padding-top: 6px;
				padding-bottom: 6px;
			}
			@include oGridRespondTo($from: S) {
				margin-top: 0;
			}
			@include oGridRespondTo($from: M) {
				width: auto;
			}
			&:hover {
				background-color: oColorsMix('jade', 'black', 70);
			}
		}
	}
}
