$class: 'adblock';

.#{$class}__list-link {
	padding: 0;
	margin-top: 12px;
	margin-bottom: 0;

	@include oGridRespondTo(M) {
		margin-top: 6px;
	}
}

.#{$class}__list-item {
	@include oTypographySans($scale: 0);
	display: inline-block;
	border-right: 1px solid;

	&:last-of-type {
		border-right: 0;
		margin-right: 0;
	}
}

.#{$class}-margin-right {
	margin-right: 6px;
}

.n-messaging-banner__content > p + .#{$class}-margin-top {
	margin-top: 12px;
}

.#{$class}-flex {
	@media (min-width: 344px) {
		flex: none;
	}
}
