.n-messaging-client-messaging-banner--us-election-2020-promo {
	.o-banner__inner {
		background-color: oColorsByName('oxford-40');
		color: oColorsByName('white');
		font-size: 20px;
		line-height: 1.1;
	}

	.o-banner__content p {
		margin-bottom: 12px;
	}

	.o-banner__heading {
		font-size: 26px;
		line-height: 1.07;

		h1 {
			font-size: 26px;
			line-height: 1.07;
		}

		p {
			margin-bottom: 0;
		}

		&::after {
			border-color: oColorsByName('crimson');
			width: 88px;
			border-bottom-width: 8px;
		}
	}

	.o-banner__close {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:cross?source=o-icons&tint=%23ffffff,%23ffffff&format=svg");
	}

	.o-banner__button {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': 'inverse',
			'size': 'big',
		));
	}
}
