.n-messaging-banner-wrapper--b2b-trial-mobile {

	.b2b-trial-mobile__device {
		left: 90px;
		top: 20px;
		position: absolute;
	}

	.n-messaging-banner__content--img {
		margin-left: 238px;
	}

	.n-messaging-banner__actions a {
		border-bottom: 0;
	}
}
