<div class="n-messaging-banner n-messaging-banner--secret-content">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<div class="n-messaging-banner__content">
			<header class="n-messaging-banner__heading">
				<h1>ABB Cancellation</h1>
			</header>
			<p>
				ABB has decided not to renew their enterprise subscription to FT.com for all global staff.
				From the 1st of October, you will no longer have full access.
			</p>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://enterprise.ft.com/en-gb/abb-cancellation-notice" class="n-messaging-banner__button">
					Keep my access
				</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
