<div class="adblock-banner__wrapper">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		small='true'
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<div class="n-messaging-banner__content o-banner__content--long">
			<p><b>We understand your decision to use an ad blocker…</b></p>
			<p>However FT journalism requires funding from both subscriptions and advertising.<b> Please whitelist ft.com in your ad blocker.</b></p>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="http://help.ft.com/help/advertising/" class="n-messaging-banner__button">Help Centre</a>
			</div>
		</div>
		<ul class="adblock__list-link">
			<li class="adblock__list-item">
				<a class="n-messaging-banner__link adblock__link" href="http://help.ft.com/help/advertising/advertising-on-the-ft/what-is-the-fts-advertising-policy/" data-trackable="advertising-policy" data-original-title="" title="">FT advertising policy</a>
			</li>
			<li class="adblock__list-item">
				<a class="n-messaging-banner__link adblock__link" href="http://help.ft.com/help/contact-us/" data-trackable="contact-us" data-original-title="" title="">Contact Us</a>
			</li>
			<li class="adblock__list-item">
				<a class="n-messaging-banner__link adblock__link" href="http://help.ft.com/help/legal/your-privacy-and-adblocking-detection/" data-trackable="privacy" data-original-title="" title="">Privacy</a>
			</li>
		</ul>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
