<div class="n-messaging-banner variant-{{@nMessagingPresenter.data.variant}}">
		{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
			themeMarketing=true
			small=true
		}}
		<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
			<header class="n-messaging-banner__heading">
				<strong>Make informed business decisions</strong>
			</header>
			<div class="n-messaging-banner__content n-messaging-banner__content--long">
				Unlimited premium access to FT.com for your team or organisation, in addition to:
				<ul>
						<li>Volume discounts</li>
						<li>Dedicated support team</li>
						<li>Access on 3rd party channels</li>
				</ul>
			</div>
			<div class="n-messaging-banner__actions">
					<div class="n-messaging-banner__action">
							<a href="https://enterprise.ft.com/en-gb/contact-us/?segmentId=ed76f4a7-dcc0-f60d-5f92-0bd9b43f30dd" target="_blank" rel="noopener" class="n-messaging-banner__button">Request a quote</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/n-messaging-banner}}
	</div>
