<div class="n-messaging-banner-wrapper--b2b-trial-mobile">
	{{#> n-messaging-client/templates/components/n-messaging-banner
	}}
	<div class="n-messaging-banner__inner invite-colleagues-banner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<!-- Content to display on larger screens -->
		<div class="n-messaging-banner__content n-messaging-banner__content--long n-messaging-banner__content--img">
			<img alt="" class="b2b-trial-mobile__device n-ui-hide-core" src="https://www.ft.com/__origami/service/image/v2/images/raw/https://s3-eu-west-1.amazonaws.com/envoy-b2b-trial/phone.png?source=ip-envoy&width=150">
			<p><strong>Try reading the FT anywhere, even when you’re offline.</strong></p>
			<p>Download the app today.</p>
		</div>
		<!-- Content to display on smaller screens -->
		<div class="n-messaging-banner__content n-messaging-banner__content--short">
			<p>
				<strong>Try reading the FT anywhere, even when you’re offline.</strong>
				<br />
				Download the app today.
			</p>
		</div>
		<!-- Button and link -->
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://itunes.apple.com/app/apple-store/id1200842933?mt=8" target="_blank" data-n-messaging-banner-action="" data-n-messaging-banner-action-type="ios" role="link"><img src="https://www.ft.com/__assets/creatives/tour/apps/ios-download.svg" alt="Download from the iOS App store" height="35"></a>
			</div>
			<div class="n-messaging-banner__action">
				<a href=" https://play.google.com/store/apps/details?id=com.ft.news&referrer=utm_source%3Dhelp.ft.com" target="_blank" data-n-messaging-banner-action="" data-n-messaging-banner-action-type="android" role="link"><img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%253A%252F%252Fwww.ft.com%252F__assets%252Fcreatives%252Ftour%252Fapps%252Fgoogle-play-badge-3x.png?source=ip-envoy" height="35" alt="Download on Google Play"></a>
			</div>
		</div>

	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
