<div class="n-messaging-banner variant-{{@nMessagingPresenter.data.variant}}">
		{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
			themeMarketing=true
			small=true
		}}
		<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
			<header class="n-messaging-banner__heading">
				<strong>Book a free consultation with your customer success manager</strong>
			</header>
			<div class="n-messaging-banner__content n-messaging-banner__content--long">
				Learn more about FT.com and how you can personalise the FT to your business needs and interests. Consultations are exclusive to corporate subscribers.
			</div>
			<div class="n-messaging-banner__actions">
					<div class="n-messaging-banner__action">
							<a href="https://calendly.com/uki-customer-success/reader-consultation" class="n-messaging-banner__button">Book consultaion</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/n-messaging-banner}}
	</div>
