<div class="n-messaging-banner variant-{{@nMessagingPresenter.data.variant}}">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		small=true
		themeProduct=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<header class="n-messaging-banner__heading">
			<strong>We have more to offer you.</strong>
		</header>
		<div class="n-messaging-banner__content">
			When you are ready, subscribe for access <span>to award winning journalism.</span>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://www.ft.com/products" target="_blank" rel="noopener" class="n-messaging-banner__button">Become a subscriber</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
