<div class="n-messaging-banner variant-{{@nMessagingPresenter.data.variant}}">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		small=true
		themeProduct=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<header class="n-messaging-banner__heading">
			<strong>Access all the essential<br />award-winning news,<br />opinion & insight</strong>
		</header>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://www.ft.com/products?segmentId=a8785152-8c22-33e8-5af8-2dfeeed3bbae" target="_blank" rel="noopener" class="n-messaging-banner__button">Become a subscriber</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
