<div class="n-messaging-banner n-messaging-banner--secret-content">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<div class="n-messaging-banner__content">
			<header class="n-messaging-banner__heading">
				<h1>Want to read more?</h1>
			</header>
			<p>Start a 4-week trial today</p>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://subs.ft.com/spa3_trial?segmentID=e8ab77e7-19fc-20af-e9c2-7afe11ca167c" class="n-messaging-banner__button">Start trial</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
