<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--secret-content">
	{{#> n-messaging-client/templates/components/o-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>Want to read more stories like this?</h1>
			</header>
			<p>With a 4-week trial you can.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://subs.ft.com/spa3_trial?segmentId=eb62aef2-4bdc-0f31-a2c5-6532b8e17896" class="o-banner__button">Start trial</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/o-banner}}
</div>
