<div class="cookie-banner variant-{{@nMessagingPresenter.data.variant}} n-ui-hide-enhanced"
	role="dialog"
	aria-labelledby="cookie-banner-aria-label" aria-describedby="cookie-banner-aria-description">
	{{#> n-messaging-client/templates/components/o-banner
		renderOpen=true
		themeMarketing='true'
		suppressCloseButton=true
	}}
	<h2 class="cookie-banner__head" id="cookie-banner-aria-label">Cookies on FT Sites</h2>
	<div class="cookie-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div id="cookie-banner-aria-description">We use <a href="http://help.ft.com/help/legal-privacy/cookies/" class="cookie-banner__link cookie-banner__link--external" data-o-banner-action data-o-banner-action-type="view-policy" target="_blank" rel="noopener">cookies</a> for a number of reasons, such as keeping FT Sites reliable and secure, personalising content and ads, providing social media features and to analyse how our Sites are used.</div>
		<div class="cookie-banner__actions">
			<div>
				<a class="cookie-banner__link" href="https://www.ft.com/preferences/manage-cookies" data-o-banner-action data-o-banner-action-type="manage">Manage cookies</a>
			</div>
			<div>
				<a href="https://consent.ft.com/__consent/consent-record-cookie?redirect={{#if @root.realUrl}}{{@root.realUrl}}{{else}}https://www.ft.com{{/if}}" class="o-banner__button" data-o-banner-action data-o-banner-action-type="accept" data-action="accept-form">Accept &amp; continue</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/o-banner}}
</div>
