<div class="cookie-banner variant-{{@nMessagingPresenter.data.variant}}">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		renderOpen=true
		themeMarketing='true'
		suppressCloseButton=true
		realUrl=@nMessagingPresenter.data.root.realUrl
	}}
	<h2 class="cookie-banner__head">Cookies on FT Sites</h2>
	<div class="cookie-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<div>We use <a href="http://help.ft.com/help/legal-privacy/cookies/" class="cookie-banner__link cookie-banner__link--external" data-trackable="onsite-message-link" target="_blank" rel="noopener">cookies</a> for a number of reasons, such as keeping FT Sites reliable and secure, personalising content and ads, providing social media features and to analyse how our Sites are used.</div>
		<div class="cookie-banner__actions">
			<div>
				<a class="cookie-banner__link" href="https://www.ft.com/preferences/manage-cookies" data-trackable="onsite-message-link-cookie-consent" data-n-messaging-banner-action="">Manage cookies</a>
			</div>
			<div>
				<form method="get" action="https://www.ft.com/__consent/consent-record-cookie"  data-action="accept-form">
					<input type="hidden" name="redirect" value="{{#if ../realUrl}}{{../realUrl}}{{else}}https://www.ft.com/preferences/manage-cookies{{/if}}"
					/>
					<button type="submit" class="n-messaging-banner__button" data-n-messaging-banner-action="" data-trackable="onsite-message-button-cookie-consent">Accept &amp; continue</button>
				</form>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
