<div class="n-messaging-banner">
		{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
		}}
		<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
			<div class="n-messaging-banner__content">
				<p><strong>Sign up to the myFT daily digest</strong></p>
				<p>Receive the latest news from topics you follow on myFT straight to your inbox</p>
			</div>
			<div class="n-messaging-banner__actions">
					<div class="n-messaging-banner__action">
							<a href="https://www.ft.com/myft/alerts/" class="n-messaging-banner__button">Sign up</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/n-messaging-banner}}
	</div>
