<div class="n-messaging-banner">
	{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
	}}
	<div
		class="n-messaging-banner__inner"
		data-o-banner-inner=""
		data-n-messaging-banner-inner=""
	>
		<div class="n-messaging-banner__content">
			<strong>Try reading the FT anywhere, even when you’re offline.</strong>
			<br />
			Download the app today.
		</div>
		<div class="n-messaging-banner__actions">
			<section class="tour-apps">
				<a
					class="tour-apps__download-button tour-apps__download-button-apple"
					href="https://itunes.apple.com/app/apple-store/id1200842933?pt=246269&amp;ct=apps-tour&amp;mt=8"
					target="_blank"
					role="link"
					><img
						src="https://www.ft.com/__assets/creatives/tour/apps/ios-download.svg"
						alt="Download from the iOS App store"
						height="46"/></a
				><a
					class="tour-apps__download-button tour-apps__download-button-google"
					href="https://play.google.com/store/apps/details?id=com.ft.news&amp;referrer=utm_source%3Dhelp.ft.com"
					target="_blank"
					role="link"
					><img
						src="https://www.ft.com/__origami/service/image/v2/images/raw/https%253A%252F%252Fwww.ft.com%252F__assets%252Fcreatives%252Ftour%252Fapps%252Fgoogle-play-badge-3x.png?source=next-tour-page"
						height="46"
						alt="Download on Google Play"
				/></a>
			</section>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
