<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--fast-ft">
	{{#> n-messaging-client/templates/components/o-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>Get the edge with <span class="o-banner__product_name">Fast FT</span></h1>
			</header>
			<p>Your market-moving news with informed comment, streamed live to you, 24 hours a day.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://www.ft.com/fastft"
					class="o-banner__button">Learn more about Fast FT</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/o-banner}}
</div>
