<div class="n-messaging-banner n-messaging-banner--fast-ft">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-n-messaging-banner-inner="" data-n-messaging-banner-inner="">
		<div class="n-messaging-banner__content">
			<header class="n-messaging-banner__heading">
				<h1>Get the edge with <span class="n-messaging-banner__product_name">Fast FT</span></h1>
			</header>
			<p>Your market-moving news with informed comment, streamed live to you, 24 hours a day.</p>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://www.ft.com/fastft"
					class="n-messaging-banner__button">Learn more about Fast FT</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
