<div class="n-messaging-banner">
		{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
		}}
		<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
			<div class="n-messaging-banner__content">
				<p><strong>Explore FT Weekend</strong></p>
				<p>Be inspired by an award-winning mix of arts and culture, food, travel and global lifestyle journalism</p>
			</div>
			<div class="n-messaging-banner__actions">
					<div class="n-messaging-banner__action">
							<a href="https://www.ft.com/life-arts" class="n-messaging-banner__button">Discover more</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/n-messaging-banner}}
	</div>
