<div class="n-messaging-client-messaging-banner n-messaging-client-messaging-banner--markets-data">
	{{#> n-messaging-client/templates/components/o-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>Invest smarter with <span class="o-banner__product_name">Markets Data</span></h1>
			</header>
			<p>Add context to the stories that matter to you with our equity, currency, fixed income and commodities information.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="http://markets.ft.com/data/"
					class="o-banner__button">Learn more about Markets Data</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/o-banner}}
</div>
