<div class="n-messaging-banner n-messaging-banner--new-agenda">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<div class="n-messaging-banner__content">
			<header class="n-messaging-banner__heading">
				<h1 class="n-messaging-banner__heading-title">Explore the <em>New Agenda</em></h1>
			</header>
			<p>Lead the way in business, society and the wider world.</p>
			<p><b>Try the FT's award-winning journalism for 4 weeks.</b></p>
		</div>
		<div class="n-messaging-banner__actions">
			<div class="n-messaging-banner__action">
				<a href="https://subs.ft.com/spa3_trials?segmentId=ae5ae5b5-cf1e-6ecc-d83e-4af44b410722" class="n-messaging-banner__button" role="button">Start your
					trial now</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
