<div class="o-banner">
		{{#> n-messaging-client/templates/components/o-banner
			renderOpen=true
		}}
		<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
			<div class="o-banner__content">
					<strong>Personalise your experience using myFT.</strong>
					<br />
					Follow topics you are interested in.
			</div>
			<div class="o-banner__actions">
					<div class="o-banner__action">
							<a href="https://www.ft.com/myft/following/" class="o-banner__button">Explore topics to follow</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/o-banner}}
	</div>
