<div class="n-messaging-banner">
		{{#> n-messaging-client/templates/components/n-messaging-banner
			renderOpen=true
		}}
		<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
			<div class="n-messaging-banner__content">
					<strong>See what business leaders around the world are reading.</strong>
			</div>
			<div class="n-messaging-banner__actions">
					<div class="n-messaging-banner__action">
							<a href="https://www.ft.com/lex" class="n-messaging-banner__button">Discover your Premium stories</a>
					</div>
			</div>
		</div>
		{{/n-messaging-client/templates/components/n-messaging-banner}}
	</div>
