{{#> n-messaging-client/templates/components/o-banner
	themeMarketing="true"
	small="true"
}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<!-- Content to display on larger screens -->
		<div class="o-banner__content o-banner__content--long o-banner__content--img">
			<header class="o-banner__heading n-messaging-banner__heading">
				<h1>How do you rate FT Schools?</h1>
			</header>
			<p>We want your feedback on the FT so we can be more relevant and useful to young people.</p>
		</div>
		<!-- Content to display on smaller screens -->
		<div class="o-banner__content o-banner__content--short">
			<header class="o-banner__heading n-messaging-banner__heading">
				<h1>How do you rate FT Schools?</h1>
			</header>
			<p>We want your feedback on the FT so we can be more relevant and useful to young people.</p>
		</div>
		<!-- Button and link -->
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a class="o-banner__button" href="https://survey.ft.com/jfe/form/SV_6YkvMOTIgDoRgb3" target="_blank" data-o-banner-action="" role="link">
					Give your feedback on FT Schools
				</a>
			</div>
		</div>

	</div>
{{/n-messaging-client/templates/components/o-banner}}
