<div class="swg-entitlements-prompt__wrapper">
	{{> n-messaging-client/templates/components/n-messaging-banner
		themeMarketing='true'
		small='true'
		contentLong = '
			<h3>You\'ve got a subscription on FT.com</h3>
			<p>It looks like you are already subscribed to FT.com via Google</p>
		'
		contentShort = '
		<h3>You\'ve got a subscription on FT.com</h3>
		<p>It looks like you are already subscribed to FT.com via Google</p>
		'
		buttonLabel = 'Sign In'
		buttonUrl = 'https://accounts.ft.com/login'
	}}
</div>
