<div class="n-messaging-banner variant-{{@nMessagingPresenter.data.variant}}">
	{{#> n-messaging-client/templates/components/n-messaging-banner
		renderOpen=true
		themeProduct=true
		small=true
	}}
	<div class="n-messaging-banner__inner" data-o-banner-inner="" data-n-messaging-banner-inner="">
		<header class="n-messaging-banner__heading">
				<strong>Get an extra 30 days free access with a&nbsp;corporate&nbsp;trial</strong>
		</header>
		<div class="n-messaging-banner__content n-messaging-banner__content--long">
				Upgrade to a corporate trial and receive an additional 30 days FT.com access for you and your team.
		</div>
		<div class="n-messaging-banner__actions">
				<div class="n-messaging-banner__action">
						<a href="https://next-b2b-prospect.ft.com/form?marketingName=unmasking&cpccampaign=mid_trial_unmasking_barrier" class="n-messaging-banner__button">Learn more</a>
				</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/n-messaging-banner}}
</div>
