<div class="o-banner o-banner--tech-scroll-asia">
	{{#> n-messaging-client/templates/components/o-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<h1>Introducing Tech Scroll Asia</h1>
			</header>
			<p>Your briefing on the billions being made & lost in the world of Asia Tech, sent weekly to your inbox.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://ep.ft.com/newsletters/5c8b92df81ab3b00044a2110/subscribe"
					class="o-banner__button">Subscribe</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/templates/components/o-banner}}
</div>
