{{> n-messaging-client/templates/components/n-messaging-banner
	themeMarketing='true'
	small='true'
	contentLong = '
	<header id="usa" class="n-messaging-banner__heading">
		<p>Special US offer through July 31</p>
		<h1>Save Over 50%*</h1>
	</header>
	<p>Pay only $12 per month for 12 months of Standard Digital access</p>
	<ul>
			<li>Global news and opinion from experts in 50+ countries</li>
			<li>Access on desktop and mobile</li>
			<li>Market-moving news, politics, tech, the arts and more</li>
	</ul>
	'

	contentShort = '
	<header class="n-messaging-banner__heading">
		<p>Special US offer through July 31</p>
		<h1>Save Over 50%*</h1>
	</header>
	<p>Pay only $12 per month for 12 months of Standard Digital access</p>
	'
	buttonLabel='Subscribe'
	buttonUrl='https://www.ft.com/signup?offerId=c1b046a6-4b46-dc66-9bed-9f77389b619a&countryCode=USA'
	renderOpen='true'
}}
