.n-alert-banner--marketing__new-agenda {
	display: none;

	@include oGridRespondTo('M') {
		display: block;
		background-color: oColorsByName('lemon');
	}

	.n-alert-banner__content {
		align-items: center;
		display: flex;
		height: 56px;
		justify-content: center;
		padding: 0 20px;
	}

	.n-alert-banner__cell {
		padding: 0 15px;
	}

	.n-alert-banner__content-main {
		@include oTypographySans($scale: 3);
		text-transform: uppercase;

		em {
			@include oTypographyDisplay($scale: 3);
			font-style: normal;
		}

		@include oGridRespondTo('L') {
			&,
			& em {
				@include oTypographySans($scale: 4, $include-font-family: false);
			}
		}
	}

	.n-alert-banner__actions__primary {
		@include oButtonsContent((
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		));
		margin-right: 0;
	}

	.n-alert-banner__actions--clickarea {
		cursor: pointer;
	}

	&--paywall-freeze {
		text-align: center;

		.n-alert-banner__content {
			height: 94px;
		}

		.n-alert-banner__content-detail {
			@include oTypographySans($scale: 2, $include-font-family: false);
			display: block;
			font-weight: 600;
		}
	}
}
