<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="public/main.css">

</head>
<body>
  <h1>Financial Times</h1>

  {{> n-messaging-client/templates/slot type='top' }}

  <h2>Page headline</h2>
  <p>Page content.</h2>

  {{> n-messaging-client/templates/slot type='bottom' }}

  <script src="public/main.js"></script>

</body>
</html>
