<div id='site-navigation'>
	{{> o-header }}
</div>

{{> n-messaging-client/templates/slot type='top' }}

<div class="o-grid-container mock-content">

	<h1>Demo of n-messaging-client</h1>
	<p class="explainer">
		To see different messages set the relevant flag <span class="code"><a href="https://toggler.ft.com/#messageSlotBottom">messageSlotBottom</a></span>, <span class="code"><a href="https://toggler.ft.com/#messageSlotTop">messageSlotTop</a></span> variant via toggler.ft.com.
	</p>
	<p>
		Ensure you are accessing this page via local.ft.com (set up a <span class="code">hosts</span> file entry if you have not already.)
		<br />
		Also make sure you do not have any over rides set via <span class="code">FT-Flags</span> header.
		{{#if @root.guruEndpoint}}
		<br />
		Currently running against non production guru host: {{@root.guruEndpoint}}
		{{/if}}
	</p>

	<div class="ipsum">
		{{> ipsum}}
	</div>
</div>

{{> n-messaging-client/templates/slot type='bottom' }}
