.n-messaging-banner--new-agenda {
	.n-messaging-banner__inner {
		background-color: oColorsByName('lemon');
	}

	.n-messaging-banner__heading::after {
		border-color: oColorsByName('black');
	}

	.n-messaging-banner__heading-title {
		text-transform: uppercase;
		em {
			@include oTypographyDisplay();
			font-style: normal;
		}
	}

	.n-messaging-banner__button {
		@include oButtonsContent((
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		));
		margin-right: 0;
	}
}
