.n-messaging-client-messaging-banner--new-agenda {
	.o-banner__inner {
		background-color: oColorsByName('lemon');
	}

	.o-banner__heading::after {
		border-color: oColorsByName('black');
	}

	.o-banner__heading-title {
		text-transform: uppercase;
		em {
			@include oTypographyDisplay();
			font-style: normal;
		}
	}

	.o-banner__button {
		// Note: base styles need to be included for this button
		// as the size should be small. I can't get this to work
		// when excluding base styles. It'll go away soon
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		));
		margin-right: 0;
	}
}
