{{> n-messaging-client/templates/components/n-alert-banner
	theme='marketing-anon-subscribe'
	buttonUrl='https://sub.ft.com/spa2_14/?segmentId=27e66825-bc4f-ba59-a3cd-1a8f08579bfe&utm_uk=WWAFL&utm_eu=WWAFM&utm_us=JJIBAF&utm_as=FFIBAX'
	buttonLabel='Subscribe to the FT'
	closeButton=false
	customClass='n-alert-banner--marketing-anon-subscribe'
	customDataTrackableBanner='marketing-promo:header'
	customDataTrackableActions='marketing-promo:box'
	customDataTrackableButton='marketing-promo:link'
}}
