{{> n-messaging-client/templates/components/n-alert-banner
	theme='error'
	contentLong='<div><b>Deloitte UK has decided not to renew their enterprise subscription to FT.com for all UK staff.</b></div><div>From the 31st May you will no longer have full access.</div>'
	contentShort='<div><b>Loss of Subscription access for Deloitte UK.</b></div><div>From the 31st May you will no longer have full access.</div>'
	linkUrl='https://enterprise.ft.com/en-gb/deloitte-uk-cancellation-notice/'
	linkLabel='Find out more'
	closeButton='false'
}}
