{{> n-messaging-client/templates/components/n-alert-banner
	theme='marketing__nbe-auto-subscribe'
	contentTitle='To get you started with the FT, we’ve signed you up to some newsletters we think you’ll enjoy'
	contentImage='https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fproduct%2Fanon-banner-lifestyle-image.png?source=next&height=112&quality=high'
	buttonUrl='https://enterprise.ft.com/en-gb/engagement/email-opt-in-unsubscribe/'
	buttonLabel='Unsubscribe'
	closeButton=false
	customDataTrackableBanner='marketing-promo:header'
	customDataTrackableActions='marketing-promo:box'
	customDataTrackableButton='marketing-promo:link'
}}
