{{> n-messaging-client/templates/components/n-alert-banner
	theme='marketing__anon-subscribe'
	contentTitle='Make the most of 2020. Read the FT in print for just $99.'
	buttonUrl='https://subs.ft.com/spa3_USprintdigitalsale?segmentId=a44c9005-2a9c-fe2a-9140-1311ff87f25f&utm_us=JJIBAQ'
	buttonLabel='Learn more'
	closeButton=false
	customClass='n-alert-banner--marketing__anon-subscribe--dark'
	additionalDetails='Prices are non-refundable unless cancelled in accordance with our subscription <a href="https://help.ft.com/help/legal-privacy/terms-conditions/">Terms and Conditions</a>. Discount offers are available until January 8, 2020 for new customers only and additional Discount <a href="https://subs.ft.com/spa3_terms_all">Terms and Conditions</a> apply. '
}}
