{{> n-messaging-client/templates/components/n-alert-banner
	theme='inform'
	contentTitle='We take your privacy as seriously as we take our journalism.'
	content='<br> Please review our updated <a href="https://help.ft.com/help/legal-privacy/privacy" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">privacy</a> and <a href="https://help.ft.com/help/legal-privacy/cookies" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">cookie</a> policies.'
	renderOpen=true
	closeButton=true
}}
