{{> n-messaging-client/templates/components/n-alert-banner
theme='neutral'
contentShort='<p>Please review our updated <a href="https://help.ft.com/help/legal-privacy/privacy" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">privacy</a> and <a href="http://help.ft.com/help/legal-privacy/cookies" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">cookie</a> policies.</p>'
contentLong='<div><strong>We take your privacy as seriously as we take our journalism.</strong></div><div>Please review our updated <a href="https://help.ft.com/help/legal-privacy/privacy" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">privacy</a> and <a href="https://help.ft.com/help/legal-privacy/cookies" data-n-messaging-alert-banner-action="" data-action="accepted" data-trackable="onsite-message-button">cookie</a> policies.</div>'
closeButton='true'
renderOpen=true
}}
