.n-messaging-client-messaging-banner--b2b-trial-myft {
	.o-banner__outer {
		background-color: oColorsByName('claret');
		color: #ffffff;
		.o-banner__close {
			background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:cross?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
		}
	}
	.o-banner__button {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': (
				'color': 'white',
				'context': 'claret'
			)
		), $include-base-styles: false);
	}
	.o-banner__link {
		color: #ffffff;
		border-color: #ffffff;
	}
}
