@include oFontsInclude(FinancierDisplayWeb, $weight: bold);

.school-leaver__wrapper {

	.n-messaging-banner__inner {
		background-color: getColor('slate');
	}

	.n-messaging-banner--small .n-messaging-banner__content h1 {
		@include oTypographyDisplayBold($scale: 4);
		color: getColor('white');
		margin-bottom: 12px;
		@include oGridRespondTo($from: M) {
			@include oTypographyDisplayBold($scale: 7);
		}
	}

	.school-leaver__sub-heading {
		@include oTypographySansBold($scale: 0);
		color: getColor('teal-70');
		@include oGridRespondTo($from: M) {
			@include oTypographySansBold($scale: 3);
		}
	}

	ul {
		color: getColor('white-80');
		@include oTypographySize($scale: 0);
		@include oGridRespondTo($from: M) {
			@include oTypographySize($scale: 2);
		}
	}

	.n-messaging-banner__actions {
		margin-top: 12px;
		@include oGridRespondTo($from: M) {
			margin-top: 0;
		}
	}

	.n-messaging-banner__button {
		@include oButtonsTheme(primary);
		@include oTypographySize($scale: 2);
		margin-bottom: 60px;
		@include oGridRespondTo($from: M) {
			margin: 24px 0 48px;
		}
	}

	.school-leaver__tandc {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
		background-color: getColor('black');
		@include oTypographySize($scale: -2);
		color: getColor('white');
	}

}
