.n-messaging-client-alert-banner--marketing__anon-subscribe {
	display: none;

	@include oGridRespondTo('M') {
		display: block;
		background-color: oColorsByName('teal-80');
	}

	.o-message__content {
		align-items: center;
		display: flex;
		height: 56px;
		justify-content: center;
		padding: 0 20px;
	}

	.o-message__cell {
		padding: 0 15px;
	}

	.o-message__content-main {
		@include oTypographyDisplay($scale: 2);
	}

	.o-message__image {
		line-height: 0;
		padding: 0;

		img {
			height: 56px;
		}
	}

	.o-message__actions__primary {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		), $include-base-styles: false);
		margin-right: 0;
	}

	.o-message__actions--clickarea {
		cursor: pointer;
	}

	&--dark {
		@include oGridRespondTo('M') {
			background-color: oColorsByName('black');
			color: oColorsByName('white');
		}

		.o-message__actions__primary {
			@include oButtonsContent($opts: (
				'type': 'primary',
				'theme': 'inverse'
			), $include-base-styles: false);
		}
	}
}
