.n-alert-banner--marketing__anon-subscribe {
	display: none;

	@include oGridRespondTo('M') {
		display: block;
		background-color: oColorsByName('teal-80');
	}

	.n-alert-banner__content {
		align-items: center;
		display: flex;
		height: 56px;
		justify-content: center;
		padding: 0 20px;
	}

	.n-alert-banner__cell {
		padding: 0 15px;
	}

	.n-alert-banner__content-main {
		@include oTypographyDisplay($scale: 2);
	}

	.n-alert-banner__image {
		line-height: 0;
		padding: 0;

		img {
			height: 56px;
		}
	}

	.n-alert-banner__actions__primary {
		@include oButtonsContent((
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		));
		margin-right: 0;
	}

	.n-alert-banner__actions--clickarea {
		cursor: pointer;
	}

	&--dark {
		@include oGridRespondTo('M') {
			background-color: oColorsByName('black');
			color: oColorsByName('white');
		}

		.n-alert-banner__actions__primary {
			@include oButtonsContent((
				'type': 'primary',
				'theme': 'inverse'
			));
		}
	}
}
