<div class="n-messaging-client-banner n-messaging-client-messaging-banner--us-election-2020-promo">
	{{#> n-messaging-client/server/templates/components/o-banner
		themeCompact=true
		renderOpen=true
	}}
	<div class="o-banner__inner" data-o-banner-inner="">
		<div class="o-banner__content">
			<header class="o-banner__heading">
				<p>Can the White House be bought?</p>
				<h1>Save 25% for annual Standard Digital access</h1>
			</header>
			<p>Follow the money behind the election with unbiased coverage from the Financial Times.</p>
			<p>Pay just $5.30 per week for annual Standard Digital access.</p>
		</div>
		<div class="o-banner__actions">
			<div class="o-banner__action">
				<a href="https://subs.ft.com/specialofferus" class="o-banner__button">Save 25% now</a>
			</div>
		</div>
	</div>
	{{/n-messaging-client/server/templates/components/o-banner}}
</div>
