[data-n-messaging-tooltip="true"] .n-alert-banner--neutral {

	.n-alert-banner__container {
		background-color: oColorsByName('wheat');
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		&:before {
			display: none;
		}
		@include oGridRespondTo(M) {
			padding-right: 24px;
		}
	}

	.n-alert-banner__content {
		padding-left: 10px;
	}

	.n-alert-banner__close {
		right: 12px;
		border-bottom: 0;
	}

}

.n-messaging-client-tooltip {
	@include oTypographySans($scale: 0);
	display: none !important;
	z-index: 103 !important;
	@include oGridRespondTo(M) {
		display: block !important;
	}

	.n-alert-banner__content-main {
		hyphens: none;
	}
}

.js [data-n-messaging-tooltip="true"] {
	display: block !important;
	@include oGridRespondTo(M) {
		display: none !important;
	}
}
