.n-messaging-client-alert-banner--marketing__nbe-auto-sub {

	display: block;
	background-color: oColorsByName('teal-50');

	@include oGridRespondTo($until: L) {
		.o-message__content {
			padding-bottom: oSpacingByName('s2');
		}
	}

	.o-message__content-main {
		@include oTypographySans($scale: 2 );
		color: white;
	}

	.o-message__cell {
		padding: 0 oSpacingByName('s4');
	}

	.o-message__actions__primary {
		@include oButtonsContent($opts: (
			'type': 'primary',
			'theme': (
				'color': 'black',
				'context': 'white'
			)
		), $include-base-styles: false);
		margin-right: 0;
	}

	.o-message__actions--clickarea {
		cursor: pointer;
	}

	&--dark {
		background-color: oColorsByName('black');
		color: oColorsByName('white');

		.o-message__actions__primary {
			@include oButtonsContent($opts: (
				'type': 'primary',
				'theme': 'inverse'
			), $include-base-styles: false);
		}
	}
}
