{{#nMessagingPresenter @this type=type flags=@root.flags}}
	{{#if @nMessagingPresenter.hasMessage}}
		<div
			data-n-messaging-slot="{{type}}"
			data-n-messaging-name="{{@nMessagingPresenter.data.variant}}"
			data-n-messaging-id="{{@nMessagingPresenter.data.messageId}}"
			data-n-messaging-lazy="{{@nMessagingPresenter.data.lazyLoad}}"
			data-n-messaging-position="{{@nMessagingPresenter.data.position}}"
			{{#if guru}} data-n-messaging-guru-endpoint='{{guru}}'{{/if}}>
			{{>(lookup @nMessagingPresenter.data 'partial')}}
		</div>
	{{/if}}
{{/nMessagingPresenter}}
