.n-onboarding-app-banner__device {
	left: 90px;
	margin-top: 95px;
	position: absolute;
}

.o-banner__content-img {
	margin-left: 194px;
}

.n-onboarding-app-banner__error-message {
	margin-right: 28px;

	p {
		@include oTypographySans($scale: -1);
		margin-top: 0;
	}
}

.o-banner__button {
	.has-sent & {
		display: none;
	}
}

.n-onboarding-app-banner__success {
	@include oTypographySans($scale: -1);
	display: none;
	padding-left: 25px;
	position: relative;

	&::before {
		@include oIconsContent(
			$icon-name: 'tick',
			$color: oColorsByName('black'),
			$size: 25
		);
		display: inline-block;
		content: '';
		left: 0;
		position: absolute;
		top: -5px;
	}

	.has-sent & {
		display: block;
	}
}
