<div class="n-alert-banner n-alert-banner--alert-bleed{{#unless renderOpen}} n-alert-banner--closed{{/unless}} n-alert-banner--{{theme}}{{#if customClass}} {{customClass}}{{/if}}" data-close="{{closeButton}}" data-n-messaging-component="" data-n-alert-banner-auto-open="false" {{#if customDataTrackableBanner}}data-trackable="{{customDataTrackableBanner}}"{{/if}}>
	<div class="n-alert-banner__container">
		<div class="n-alert-banner__content">
			{{#ifSome contentTitle contentDetail}}
				<p class="n-alert-banner__content-main">
					{{#if contentTitle}}
						<span class="n-alert-banner__content-highlight">{{contentTitle}}</span>
					{{/if}}
					{{#if contentDetail}}
						<span class="n-alert-banner__content-detail">{{{contentDetail}}}</span>
					{{/if}}
				</p>
			{{/ifSome}}
			{{#ifSome buttonUrl linkUrl}}
				<div class="n-alert-banner__actions" {{#if customDataTrackableActions}} data-trackable="{{customDataTrackableActions}}"{{/if}}>
					{{#if buttonUrl}}
					<a href="{{buttonUrl}}" class="n-alert-banner__actions__primary" data-n-alert-banner-action="{{buttonAction}}" data-trackable="{{#if customDataTrackableButton}}{{customDataTrackableButton}}{{else}}onsite-message-button{{/if}}">{{buttonLabel}}</a>
					{{/if}}
					{{#if linkUrl}}
					<a href="{{linkUrl}}" class="n-alert-banner__actions__secondary" data-n-alert-banner-action="{{linkAction}}" data-trackable="{{#if customDataTrackableLink}}{{customDataTrackableLink}}{{else}}onsite-message-link{{/if}}">{{linkLabel}}</a>
					{{/if}}
				</div>
			{{/ifSome}}
		</div>
	</div>
</div>
