<div class="n-alert-banner {{#unless renderOpen}}n-alert-banner--closed{{/unless}} n-alert-banner--{{theme}}{{#if customClass}} {{customClass}}{{/if}}" data-n-component="n-alert-banner" data-n-messaging-component="" data-n-alert-banner-auto-open="false" data-n-alert-banner-close-button="{{#if closeButton}}{{closeButton}}{{else}}true{{/if}}" {{#if customDataTrackableBanner}}data-trackable="{{customDataTrackableBanner}}"{{/if}}>
	<div class="n-alert-banner__outer">
		<div class="n-alert-banner__inner" data-n-alert-banner-inner="">
			{{#if contentLong}}
			<!-- Content to display on larger screens -->
				<div class="n-alert-banner__content n-alert-banner__content--long">
					{{{contentLong}}}
				</div>
			{{/if}}
			{{#if contentShort}}
			<!-- Content to display on smaller screens -->
				<div class="n-alert-banner__content n-alert-banner__content--short">
					{{{contentShort}}}
				</div>
			{{/if}}
			<div class="n-alert-banner__actions" {{#if customDataTrackableActions}}data-trackable="{{customDataTrackableActions}}"{{/if}}>
				{{#if buttonUrl}}
					<div class="n-alert-banner__action">
						<a href="{{buttonUrl}}" class="n-alert-banner__button" data-n-messaging-alert-banner-action="{{buttonAction}}" data-trackable="{{#if customDataTrackableButton}}{{customDataTrackableButton}}{{else}}onsite-message-button{{/if}}">{{buttonLabel}}</a>
					</div>
				{{/if}}
				{{#if linkUrl}}
					<div class="n-alert-banner__action--secondary">
						<a href={{linkUrl}} class="n-alert-banner__link" data-n-messaging-alert-banner-action="{{linkAction}}" data-trackable="{{#if customDataTrackableLink}}{{customDataTrackableLink}}{{else}}onsite-message-link{{/if}}">{{linkLabel}}</a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
