.n-messaging-client-messaging-banner--success {
	.o-banner__content {
		&--short {
			@include oGridRespondTo($until: M) {
				display: flex;
			}
		}
		&--long {
			@include oGridRespondTo($from: M) {
				display: flex;
			}
		}
		&:before {
			@include oIconsContent(
				$icon-name: 'tick',
				$color: oColorsMix('black', 'jade', $percentage: 43),
				$size: 80
			);
			content: '';
			margin-right: 20px;
		}

		align-items: center;
	}
}
