/* stylelint-disable selector-class-pattern */
/* higher specificity is needed as competing styles are lazily loaded in main.scss */
.n-messaging-slot--tlsDeprecation[data-n-messaging-name="tlsDeprecation"] {
	.n-alert-banner {
		border-bottom: 1px solid getColor('black-20');
	}

	.n-alert-banner__inner {
		white-space: normal;
	}

	.n-alert-banner__outer {
		background-color: getColor('wheat');
	}

	.n-alert-banner__content--long {
		margin-left: 40px;
		padding-left: 0;
	}

	.n-alert-banner__content--short {
		margin-left: 40px;
		padding: 1em 0;
	}
}
	/* stylelint-enable */
