.o-banner--app-promo-mobile {
	.app-promo-mobile__device {
		left: 70px;
		top: 20px;
		position: absolute;
	}
	.o-banner__action {
		a {
			border-bottom: 0;
			outline: 0;
		}
	}
	.o-banner__content p {
		padding-left: 190px;
	}
}
