.n-messaging-banner--app-promo-mobile {
	.app-promo-mobile__device {
		left: 90px;
		top: 20px;
		position: absolute;
	}
	.n-messaging-banner__action {
		a {
			border-bottom: 0;
			outline: 0;
		}
	}
}
