.n-messaging-banner--app-promo-mobile {

	.app-promo-mobile__device {
		left: 90px;
		top: 20px;
		position: absolute;
	}

	.n-messaging-banner__content--img {
		margin-left: 238px;
	}

	.n-messaging-banner__actions {
		a {
			border-bottom: 0;
		}
	}
}
