<!DOCTYPE html>
<html lang="en-GB" class="isAdBlocking">

<head>
	<meta charset="utf-8">
	<title>"custom "{{#title}}{{{this}}}{{/title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> {{>favicon}} {{#if origami.css}}
	<link rel="stylesheet" href="//www.ft.com/__origami/service/build/v2/bundles/css?modules={{origami.css}}">{{/if}}
	<link rel="stylesheet" href="/{{__name}}/main.css"> {{#outputBlock 'head'}}{{/outputBlock}}
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"url": "https://www.ft.com/content/4312a4ca-aeac-11e8-99ca-68cf89602132",
			"headline": "Pressure on Carney to reveal if he will stay at Bank of England",
			"datePublished": "2018-09-02T19:26:44.000Z",
			"dateModified": "2018-09-02T19:26:44.000Z",
			"description": "Central bank governor signals willingness to extend term",
			"isAccessibleForFree": "False",
			"isPartOf": {
				"@type": ["CreativeWork", "Product"],
				"name": "Financial Times",
				"productID": "ft.com:subscribed"
			},
			"alternativeHeadline": "Pressure on Carney to reveal if he will stay at BoE",
			"image": {
				"@type": "ImageObject",
				"@context": "http://schema.org",
				"url": "http://prod-upp-image-read.ft.com/97212eb0-abb9-11e8-8253-48106866cd8a",
				"width": 2048,
				"height": 1152
			},
			"wordCount": 702,
			"publisher": {
				"@type": "Organization",
				"@context": "http://schema.org",
				"name": "Financial Times",
				"legalName": "The Financial Times Ltd.",
				"logo": {
					"@type": "ImageObject",
					"@context": "http://schema.org",
					"url": "http://im.ft-static.com/m/img/masthead_main.jpg",
					"width": 435,
					"height": 36
				},
				"url": "https://www.ft.com"
			}
		}
	</script>
</head>

<body>
	{{{body}}} {{#if origami.js}}
	<script src="//www.ft.com/__origami/service/build/v2/bundles/js?modules={{origami.js}}&amp;autoinit=1"></script>{{/if}}
	<script src="/{{__name}}/main.js"></script>
</body>

</html>
